.post-header {
  display: flex;
  margin-bottom: 1rem;
  align-items: start;
  justify-content: space-between;
}
.author {
  display: flex;
  gap: 1rem;
}
.text {
  display: flex;
  flex-direction: column;
}
.like-button {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.like {
  border: none;
  background-color: rgb(255, 255, 255, 0);
  cursor: pointer;
}
.delete-btn {
  border: none;
  cursor: pointer;
  background-color: inherit;
  font-family: inherit;
  font-size: 16px;
}
.delete-btn:hover {
  color: rgb(19, 69, 113);
  text-decoration: underline rgb(19, 69, 113);
}
