.navigation {
  display: flex;
  width: 15rem;
  padding: 1rem;
}
.chirp {
  margin-top: 1.2rem;
}
.logo {
  width: 3rem;
  margin-top: 1rem;
}

@media (max-width: 950px) {
  .navigation {
    display: none !important;
  }
}
